@page "/booking"


<h3>Booking</h3>
<h3>@shelterId</h3>

@code {


    [Parameter]
    [SupplyParameterFromQuery]
    public string? shelterId { get; set; }



    //protected override async Task OnInitializedAsync()
    //{

    //    if (shelterId != null)
    //    {

    //        // retrieve the Shelter object with the specified shelterId
    //        var shelter = await http.GetShelterByIdAsync((int)shelterId);

    //        // set the Shelter object as a property of this component
    //        yourShelter = shelter;

    //    }
    //    //Calling the
    //    GetBookingsByShelterId((int)shelterId);

    //}

}
