@page "/PedelSide"
@using ShelterBookingApp.Shared.Models
@inject HttpClient Http;
@inject NavigationManager NavManager;
@inject IModalService ModalService;

<h3>Pedelside</h3>

<div class="row">
    <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Shelter name">
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary btn-block">Search</button>
    </div>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Capacity</th>
        <th>Municipality</th>
        <th></th>

    </tr>
    </thead>
    <tbody>
    @foreach (var shelter in Shelters)
    {
        <tr>
            <td>@shelter.Properties.Name</td>
            <td>@shelter.Properties.Capacity</td>
            <td>@shelter.Properties.Municipality</td>
            <td>
                <button class="btn btn-success" type="button" @onclick="() => ShowBookingInformation()">Show booking information</button>

            </td>
        </tr>
    }
    </tbody>
</table>

@code {

    private List<Shelter> Shelters { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Get shelterlist from client ");
        Shelters = await Http.GetFromJsonAsync<List<Shelter>>("https://localhost:7269/api/Shelter");
    }


    private void ShowBookingInformation()
    {
        ModalService.Show<BookingsInformationDialog>("Booking information", new ModalOptions { Size = ModalSize.ExtraLarge });
    }

}