<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Aarhus Shelters</a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0 nav justify-content-center">
                <li class="nav-item">
                    <NavLink class="nav-link" href="shelterbooking">
                        <span class="oi oi-calendar" aria-hidden="true" style="padding-left: 25px"></span> Book a shelter
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="PedelPage">
                        <span class="oi oi-person" aria-hidden="true" style="padding-left: 25px"></span> All Bookings
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    // nav menu sættes til at være ikke synligt.
    private bool collapseNavMenu = true;

    //Udseene ændres baseret på om den er kollapset eller ej - hvis collapset, intet styling addes. Hvis ikke collapsed sættes
    // styling for at gøre den synlig.
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    //  ændrer værdien af "collapseNavMenu" fra sand til falsk eller omvendt
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}